# Ignore entire mmdet folder because managing submodule is a pain
mmdetection

# Ignore images
data/images
data/market1501

# Ignore work_dirs
work_dirs

# Ignore DetVisGUI
DetVisGUI

# Cropped image dir
output
test-detected.zip